@font-face {
  font-family: AurebeshDroid;
  src: url(Fonts/AurebeshDroidRegular-Mnwe.ttf);
}

@font-face {
  font-family: OuterRim;
  src: url(Fonts/OuterRimAf-d9Kq7.otf);
}

@font-face {
  font-family: Mandalor;
  src: url(Fonts/mandalor.ttf);
}

.AurebeshDroid {
  font-family: AurebeshDroid !important;
}

.OuterRim {
  font-family: OuterRim !important;
}

.Mandalor {
  font-family: Mandalor !important;
}
