@font-face {
  font-family: aurebeshDroid-Font;
  src: url("https://cdn.glitch.com/6e4cdc59-6fa6-4125-8cbb-104aebc1e3cd%2FAurebeshDroidRegular-Mnwe.ttf?v=1607971007389");
}

@font-face {
  font-family: sithFont;
  src: url("https://cdn.glitch.com/6e4cdc59-6fa6-4125-8cbb-104aebc1e3cd%2Fsthproph.ttf?v=1607971013133");
}

.AurebeshDroid-Lang {
  font-family: aurebeshDroid-Font !important;
}

.Sith-Lang {
  font-family: sithFont !important;
}
