/* Gift Nitro */
[aria-label="Send a gift"] {
    display:none;
}

/*Mentions colour*/
.mention {
  color: #FFF;
  background: #424242;
}
.mention:hover {
  color: #000;
  background: #000000;
}
.mentioned-xhSam7:before {
    background-color: #C66262;
    padding: 1px;
}
