/* Flare#9999 */ 
[src="180016569387057152"] + .header-23xsNx > .headerText-3Uvj1Y >
span:first-child::after, .avatar-3EQepX[data-user-id="180016569387057152"] +
.headerInfo-30uryT >.nameTag-2IFDfL > .username-2b1r56::after,
[style*="180016569387057152"] + .usernameFont-23TX-h::after{
content: " ";
background: url(https://i.imgur.com/xSObeUv.gif) center/90% no-repeat;
}
