//META{
"name":"Hells-kitchen-v1",
"description":"For when your streaming and using Discord!",
"author":"ACE",
"version":"Auto Update"
}
*//

/*Start of Settings Tab*/
/*Billing*/
.item-PXvHYJ:nth-child(6) {
    display: none;
}
/*Discord Nitro*/
.item-PXvHYJ:nth-child(8) {
    display: none;
}
/*Gift Inventory*/
.item-PXvHYJ:nth-child(9) {
    display: none;
}
/*Server Boost*/
.item-PXvHYJ:nth-child(10) {
    display: none;
}
/*HypeSquad*/
.item-PXvHYJ:nth-child(11) {
    display: none;
}
/*End of Settings Tab*/
