/* Spotify Popup Controls */
.container-6sXIoE {
  border-radius: 20px 20px;
}

/* ----------------------------------- */

/* Messager Logger - Top */
.e8f2hh9-10ilas2 {
  border-radius: 1em;
}

/* Messager Logger - Bottom */
.flex-1xMQg5 {
  border-radius: 1em;
}

/* Message Logger - TextInput */
.questionMark-3qBhGj {
  border-radius: 0.5em;
}

/* Message Logger - Input */
.input-cIJ7To {
  border-radius: 0.7em;
}
