.avatar-1BDn8e + h2 > .headerText-3Uvj1Y > .username-1A8OIy::after {
  display: inline-block;
  height: 14px;
  width: 14px;
  line-height: 14px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('');
  position: relative;
  top: 2px;
  margin-left: 5px;
}
.avatar-1BDn8e + h2 > .headerText-3Uvj1Y > .username-1A8OIy:hover::after {
  width: auto;
  border-radius: 4px;
  padding: 2px 5px;
  background-image: none!important;
  background-color: #0d0d0d;
  color: #fff;
  font-size: 12px;
  top: -1px;
  font-weight: normal;
  animation-timing-function: linear;
  transition: 
    color .2s ease,
    background-color .2s ease;
}

@keyframes rainbow {
  from{filter: hue-rotate(0deg)}
  to{filter: hue-rotate(360deg);}
}
@keyframes scaleIn {
  from{transform: scale(.1);}
  to{transform: scale(1);}
}
@keyframes fadeIn {
  from{opacity: 0;}
  to{opacity: 1;}
}


  /*==| MODS |==*/
/* ACE */
.avatar-1BDn8e[src*="781647373129875467"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy::after {
  content: "";
  background-image: url('https://raw.githubusercontent.com/DJ-JR30/ACE-BetterDiscord/gh-pages/BetterDiscord/Dev/Files/images/ExtraLogo/CEO_Logo.png');
}
.avatar-1BDn8e[src*="781647373129875467"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy:hover::after {
  content: "ACE CEO";
  animation: fadeIn .5s linear 1;
  color: #ff8080;
  width: 75px;
  text-align: center;
  background-color: transparent;
  background-image: url('');
}

  /*==|CUSTOM BADGES|==*/
/* Spectra */
.avatar-1BDn8e[src*="286208664623120384"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy::after {
  content: "";
  width: 30px;
  background-position: left, right;
  background-image: url('https://i.imgur.com/q3aIwjM.png'), url('https://svgshare.com/i/P5f.svg');}
.avatar-1BDn8e[src*="286208664623120384"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy:hover::after {
  content: "";
  background-image: url('https://i.imgur.com/q3aIwjM.png'), url('https://svgshare.com/i/P5f.svg') !important;
  background-color: transparent !important;
  padding: 0 !important;
  transform: none!important;
  display: inline-block;
  height: 14px;
  width: 30px;
  line-height: 14px;
  background-position: left, right;
  top: 2px;
  margin-left: 5px;
}
