/* Adds the 2 warkermark to top left */
.wordmarkWindows-1v0lYD::after {
   content: "2";
   color: var(--text-muted);
   font-size: 14px;
   font-weight: 700;
   width: 200px;
   position: absolute;
   top: 5px;
   padding-left: 0.1px;
}

/* Hide Member List icon */
[aria-label="Member List"] {
    display: none;
}

/*Hide Bandage Badge*/
a[title="BandagedBD"], a[title="BandagedBD"]>svg{
    visibility: hidden;
    width: 0;
    height: 0;
}

/* Beteter Embeds */
.embedFull-2tM8-- {
    border-radius: 1em;
    border: 4px solid var(--background-tertiary);
}
.markup-2BOw-j code {
    border-radius: 1em;
}
.ephemeral-1PsL1r:before,.mentioned-xhSam7:before,.replying-1x3H0T:before {
    display: none;
}
.mentioned-xhSam7 {
    border-radius: 1em;
    box-shadow: inset 0px -1px 2px 0px #bd8f42;
}
.userPopout-3XzG_A {
    border-radius: 1em;
}
.item-1tOPte{
    border-radius: 1em;
}
.menu-3sdvDG {
    border-radius: 1em;
}

/* Deleted message Embed */
.message-2qRu38 {
  border-radius: 1em;
}
