/* Jump to present */
.da-jumpToPresentBar {
  background-color: rgb(127,2,128);
}


/* Read Messages */
.da-barButtonMain {
   background-color: var(--main-color);
}

.barButtonBase-2uLO1z {
  background-color: var(--main-color);
}
