/*Hide Bandage Badge*/
a[title="BandagedBD"], a[title="BandagedBD"]>svg{
    visibility: hidden;
    width: 0;
    height: 0;
}

/*Start of Settings Tab*/

/*Authorized Apps*/
.item-PXvHYJ:nth-child(4) {
    display: none;
}
/*Billing*/
.item-PXvHYJ:nth-child(6) {
    display: none;
}
/*Discord Nitro*/
.item-PXvHYJ:nth-child(8) {
    display: none;
}
/*Gift Inventory*/
.item-PXvHYJ:nth-child(9) {
    display: none;
}
/*Server Boost*/
.item-PXvHYJ:nth-child(10) {
    display: none;
}
/*HypeSquad*/
.item-PXvHYJ:nth-child(11) {
    display: none;
}

/* Change Logs */
.item-PXvHYJ:nth-child(25) {
    display: none;
}

/*End of Settings Tab*/
