/*Hide Bandage Badge*/
a[title="BandagedBD"], a[title="BandagedBD"]>svg{
    visibility: hidden;
    width: 0;
    height: 0;
}


/* Settings Tab Icons */
.layer-3QrUeG[aria-label="USER_SETTINGS"] .side-8zPYf6 .item-PXvHYJ:before,
.layer-3QrUeG[aria-label="USER_SETTINGS"] .side-8zPYf6 .ui-tab-bar-item:before {
	font-family: 'Material Icons';
	content: 'settings ';
	margin-right: 8px;
	font-size:var(--size0);
}

.layer-3QrUeG[aria-label="USER_SETTINGS"] .standardSidebarView-3F1I7i .side-8zPYf6 .item-PXvHYJ:nth-of-type(2):before {
	content: 'person ';
}

.layer-3QrUeG[aria-label="USER_SETTINGS"] .standardSidebarView-3F1I7i .side-8zPYf6 .item-PXvHYJ:nth-of-type(3):before {
	content: 'security ';
}

.layer-3QrUeG[aria-label="USER_SETTINGS"] .standardSidebarView-3F1I7i .side-8zPYf6 .item-PXvHYJ:nth-of-type(4):before {
	content: 'input ';
}

.layer-3QrUeG[aria-label="USER_SETTINGS"] .standardSidebarView-3F1I7i .side-8zPYf6 .item-PXvHYJ:nth-of-type(5):before {
	content: 'rss_feed ';
}

.layer-3QrUeG[aria-label="USER_SETTINGS"] .standardSidebarView-3F1I7i .side-8zPYf6 .item-PXvHYJ:nth-of-type(6):before {
	content: 'credit_card ';
}

.layer-3QrUeG[aria-label="USER_SETTINGS"] .standardSidebarView-3F1I7i .side-8zPYf6 .item-PXvHYJ:nth-of-type(8):before {
	content: 'favorite ';
}

.layer-3QrUeG[aria-label="USER_SETTINGS"] .standardSidebarView-3F1I7i .side-8zPYf6 .item-PXvHYJ:nth-of-type(9):before {
	content: 'card_giftcard ';
}

.layer-3QrUeG[aria-label="USER_SETTINGS"] .standardSidebarView-3F1I7i .side-8zPYf6 .item-PXvHYJ:nth-of-type(10):before {
	content: 'flight_takeoff ';
}

.layer-3QrUeG[aria-label="USER_SETTINGS"] .standardSidebarView-3F1I7i .side-8zPYf6 .item-PXvHYJ:nth-of-type(11):before {
	content: 'flag ';
}

.layer-3QrUeG[aria-label="USER_SETTINGS"] .standardSidebarView-3F1I7i .side-8zPYf6 .item-PXvHYJ:nth-of-type(14):before {
	content: 'mic ';
}

.layer-3QrUeG[aria-label="USER_SETTINGS"] .standardSidebarView-3F1I7i .side-8zPYf6 .item-PXvHYJ:nth-of-type(15):before {
	content: 'aspect_ratio ';
}

.layer-3QrUeG[aria-label="USER_SETTINGS"] .standardSidebarView-3F1I7i .side-8zPYf6 .item-PXvHYJ:nth-of-type(16):before {
	content: 'notifications ';
}

.layer-3QrUeG[aria-label="USER_SETTINGS"] .standardSidebarView-3F1I7i .side-8zPYf6 .item-PXvHYJ:nth-of-type(17):before {
	content: 'keyboard ';
}

.layer-3QrUeG[aria-label="USER_SETTINGS"] .standardSidebarView-3F1I7i .side-8zPYf6 .item-PXvHYJ:nth-of-type(18):before {
	content: 'games ';
}

.layer-3QrUeG[aria-label="USER_SETTINGS"] .standardSidebarView-3F1I7i .side-8zPYf6 .item-PXvHYJ:nth-of-type(19):before {
	content: 'text_format ';
}

.layer-3QrUeG[aria-label="USER_SETTINGS"] .standardSidebarView-3F1I7i .side-8zPYf6 .item-PXvHYJ:nth-of-type(20):before {
	content: 'dashboard ';
}

.layer-3QrUeG[aria-label="USER_SETTINGS"] .standardSidebarView-3F1I7i .side-8zPYf6 .item-PXvHYJ:nth-of-type(21):before {
	content: 'airplay ';
}

.layer-3QrUeG[aria-label="USER_SETTINGS"] .standardSidebarView-3F1I7i .side-8zPYf6 .item-PXvHYJ:nth-of-type(22):before {
	content: 'language ';
}

.layer-3QrUeG[aria-label="USER_SETTINGS"] .standardSidebarView-3F1I7i .side-8zPYf6 .ui-tab-bar-item:nth-of-type(3):before {
	content: 'build ';
}

.layer-3QrUeG[aria-label="USER_SETTINGS"] .standardSidebarView-3F1I7i .side-8zPYf6 .ui-tab-bar-item:nth-of-type(4):before {
	content: 'tag_faces ';
}

.layer-3QrUeG[aria-label="USER_SETTINGS"] .standardSidebarView-3F1I7i .side-8zPYf6 .ui-tab-bar-item:nth-of-type(5):before {
	content: 'extension ';
}

.layer-3QrUeG[aria-label="USER_SETTINGS"] .standardSidebarView-3F1I7i .side-8zPYf6 .ui-tab-bar-item:nth-of-type(6):before {
	content: 'format_paint ';
}

.layer-3QrUeG[aria-label="USER_SETTINGS"] .standardSidebarView-3F1I7i .side-8zPYf6 .ui-tab-bar-item:nth-of-type(7):before {
	content: 'edit ';
}

.layer-3QrUeG[aria-label="USER_SETTINGS"] .standardSidebarView-3F1I7i .side-8zPYf6 .item-PXvHYJ[style*="rgb(240, 71, 71)"]:before {
	content: 'exit_to_app ';
}
